*{
    padding : 0;
    margin : 0;
}
.flappybird{
   height : 90px;
   width : 90px;
   position : absolute;
   top: 150px;
   animation : flappybird 4s linear 0s 1 normal;
}
@keyframes flappybird{
    from{
        position : relative;
        top : relative;
        left : 0px;
    }
    to{
        position: relative;
        top : 100%;
        left : 100%;
    }
}
.main{
    width : 100vw;
    height : 100vh;
    background-color: aqua;
    
}
.jumpbtn{
    height : 5vmin;
    width : 10vmin;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(58, 57, 57);
    color : white;
    position : absolute;
    top : 20px;
    right : 50px;
}
.hide{
    animation : jump 2s linear 0s 1 normal;
}
@keyframes jump{
    from{
        position : relative;
        top : 0px;
    }
    to{
        position : relative;
        top : -100px;
    }
}

